.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    display:inline-block;
    background-color: chartreuse;
    height: 2cm;
    width: 2cm;
    animation: App-logo-spin infinite 3s ease-out;    
    animation-direction: alternate-reverse;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    background-color:rgb(173, 59, 154);
    height: 2cm;
    width: 2cm;
    display:inline-block;
    animation: App-logo-spin infinite 2s ease-out; 
    animation-direction: alternate;   
  }
}

*{
  background-color:rgb(61, 34, 86) ;
}
.App-header {
  background-color:rgb(61, 34, 86);
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(184, 59, 31);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error {
  color: crimson;
}